{
  "openapi": "3.0.1",
  "info": {
    "title": "Buena.ai API v2",
    "description": "The most powerful LinkedIn automation and lead management API for modern sales teams and developers.",
    "version": "2.0.0",
    "contact": {
      "name": "Buena.ai Support",
      "email": "support@buena.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.buena.ai/api/v2",
      "description": "Production server"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health Check",
        "description": "Check the API status and health",
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "API is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "example": "ok"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/keys": {
      "post": {
        "summary": "Create API Key",
        "description": "Create a new API key",
        "operationId": "createApiKey",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Name for the API key"
                  },
                  "permissions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "List of permissions for the key"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKey"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List API Keys",
        "description": "List all API keys for the user",
        "operationId": "listApiKeys",
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/leads": {
      "get": {
        "summary": "List Leads",
        "description": "Get a list of leads with optional filtering",
        "operationId": "listLeads",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of leads to return",
            "schema": {
              "type": "integer",
              "default": 50,
              "maximum": 1000
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Number of leads to skip",
            "schema": {
              "type": "integer",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of leads",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "leads": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Lead"
                      }
                    },
                    "total": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Lead",
        "description": "Create a new lead",
        "operationId": "createLead",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Lead created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Lead"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the API key"
          },
          "name": {
            "type": "string",
            "description": "Name of the API key"
          },
          "key": {
            "type": "string",
            "description": "The actual API key (only shown once during creation)"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "List of permissions"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the key was created"
          },
          "last_used": {
            "type": "string",
            "format": "date-time",
            "description": "When the key was last used"
          }
        }
      },
      "Lead": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the lead"
          },
          "first_name": {
            "type": "string",
            "description": "First name of the lead"
          },
          "last_name": {
            "type": "string",
            "description": "Last name of the lead"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the lead"
          },
          "company": {
            "type": "string",
            "description": "Company name"
          },
          "title": {
            "type": "string",
            "description": "Job title"
          },
          "linkedin_url": {
            "type": "string",
            "description": "LinkedIn profile URL"
          },
          "status": {
            "type": "string",
            "enum": [
              "new",
              "contacted",
              "responded",
              "converted",
              "unqualified"
            ],
            "description": "Current status of the lead"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the lead was created"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the lead was last updated"
          }
        }
      },
      "CreateLeadRequest": {
        "type": "object",
        "required": ["first_name", "last_name"],
        "properties": {
          "first_name": {
            "type": "string",
            "description": "First name of the lead"
          },
          "last_name": {
            "type": "string",
            "description": "Last name of the lead"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email address of the lead"
          },
          "company": {
            "type": "string",
            "description": "Company name"
          },
          "title": {
            "type": "string",
            "description": "Job title"
          },
          "linkedin_url": {
            "type": "string",
            "description": "LinkedIn profile URL"
          }
        }
      },
      "Error": {
        "type": "object",
        "required": ["error", "message"],
        "properties": {
          "error": {
            "type": "string",
            "description": "Error code"
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message"
          },
          "details": {
            "type": "object",
            "description": "Additional error details"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API key for authentication"
      }
    }
  }
}
